# DATABASE_URL=file:./dev.db
# TEST_DATABASE_URL=file:./.redwood/test.db
# PRISMA_HIDE_UPDATE_MESSAGE=true
# LOG_LEVEL=trace
# FIREBASE_APP_API_KEY="YOUR_FIREBASE_API_KEY"
# FIREBASE_STORAGE_BUCKET="gs://my-app.appspot.com/"